@-webkit-keyframes beforeHeader {
    from {
        background-position: 0 100%;
    }

    to {
        background-position: 200% 100%;
    }
}

@keyframes beforeHeader {
    from {
        background-position: 0 100%;
    }

    to {
        background-position: 200% 100%;
    }
}


@-webkit-keyframes profileMenu {
    from {
        opacity: .25;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes profileMenu {
    from {
        opacity: .25;
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
    }
}


@-webkit-keyframes hAboutBg {
    0% {
        background-position: 50% 50%;
        background-size: 106% 106%;
    }

    50% {
        background-position: 32% 58%;
        background-size: 108% 108%;
    }

    100% {
        background-position: 50% 50%;
        background-size: 106% 106%;
    }
}

@keyframes hAboutBg {
    0% {
        background-position: 50% 50%;
        background-size: 106% 106%;
    }

    50% {
        background-position: 32% 58%;
        background-size: 108% 108%;
    }

    100% {
        background-position: 50% 50%;
        background-size: 106% 106%;
    }
}


@-webkit-keyframes hAboutImg {
    0% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    50% {
        -webkit-transform: translate(14px, 14px);
        -ms-transform: translate(14px, 14px);
        transform: translate(14px, 14px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes hAboutImg {
    0% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    50% {
        -webkit-transform: translate(14px, 14px);
        -ms-transform: translate(14px, 14px);
        transform: translate(14px, 14px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}


@-webkit-keyframes noscriptAnim {
    0% {
        color: map-get($root, mainColor2);
    }

    25% {
        color: map-get($root, danger);
    }

    50% {
        color: map-get($root, mainColor1);
    }

    75% {
        color: map-get($root, danger);
    }

    100% {
        color: map-get($root, mainColor2);
    }
}

@keyframes noscriptAnim {
    0% {
        color: map-get($root, mainColor2);
    }

    25% {
        color: map-get($root, danger);
    }

    50% {
        color: map-get($root, mainColor1);
    }

    75% {
        color: map-get($root, danger);
    }

    100% {
        color: map-get($root, mainColor2);
    }
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-2 {
    0% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    100% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
}

@keyframes spin-2 {
    0% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    100% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
}

@-webkit-keyframes transformBtn {
    0% {
        -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }

    50% {
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    100% {
        -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }
}

@keyframes transformBtn {
    0% {
        -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }

    50% {
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    100% {
        -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }
}

@keyframes alerts {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes alerts {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}