.icons-storefront:before {
    content: "\e90e";
}

.icons-people_outline:before {
    content: "\e90a";
}

.icons-store:before {
    content: "\e905";
}

.icons-add_card:before {
    content: "\e906";
}

.icons-done_all:before {
    content: "\e909";
}

.icons-add_shopping_cart:before {
    content: "\e900";
}

.icons-admin_panel_settings:before {
    content: "\e901";
}

.icons-arrow_back:before {
    content: "\e902";
}

.icons-arrow_back_ios:before {
    content: "\e903";
}

.icons-arrow_downward:before {
    content: "\e904";
}

.icons-arrow_forward:before {
    content: "\e907";
}

.icons-arrow_forward_ios:before {
    content: "\e908";
}

.icons-arrow_upward:before {
    content: "\e90b";
}

.icons-bookmark:before {
    content: "\e90c";
}

.icons-bookmark_border:before {
    content: "\e90d";
}

.icons-chat:before {
    content: "\e90f";
}

.icons-chat_bubble_outline:before {
    content: "\e910";
}

.icons-close:before {
    content: "\e911";
}

.icons-comment:before {
    content: "\e912";
}

.icons-dark_mode:before {
    content: "\e913";
}

.icons-delete_forever:before {
    content: "\e914";
}

.icons-delete_outline:before {
    content: "\e915";
}

.icons-discord:before {
    content: "\e916";
}

.icons-done:before {
    content: "\e917";
}

.icons-error_outline:before {
    content: "\e918";
}

.icons-facebook:before {
    content: "\e919";
}

.icons-favorite:before {
    content: "\e91a";
}

.icons-favorite_border:before {
    content: "\e91b";
}

.icons-file_download:before {
    content: "\e91c";
}

.icons-git:before {
    content: "\e91d";
}

.icons-github:before {
    content: "\e91e";
}

.icons-google:before {
    content: "\e91f";
}

.icons-highlight_off:before {
    content: "\e920";
}

.icons-home:before {
    content: "\e921";
}

.icons-info:before {
    content: "\e922";
}

.icons-instagram:before {
    content: "\e923";
}

.icons-keyboard_arrow_down:before {
    content: "\e924";
}

.icons-keyboard_arrow_left:before {
    content: "\e925";
}

.icons-keyboard_arrow_right:before {
    content: "\e926";
}

.icons-keyboard_arrow_up:before {
    content: "\e927";
}

.icons-keyboard_double_arrow_down:before {
    content: "\e928";
}

.icons-keyboard_double_arrow_left:before {
    content: "\e929";
}

.icons-keyboard_double_arrow_right:before {
    content: "\e92a";
}

.icons-keyboard_double_arrow_up:before {
    content: "\e92b";
}

.icons-laptop_windows:before {
    content: "\e92c";
}

.icons-light_mode:before {
    content: "\e92d";
}

.icons-link:before {
    content: "\e92e";
}

.icons-linkedin:before {
    content: "\e92f";
}

.icons-local_grocery_store:before {
    content: "\e930";
}

.icons-local_mall:before {
    content: "\e931";
}

.icons-login:before {
    content: "\e932";
}

.icons-logout:before {
    content: "\e933";
}

.icons-mail_outline:before {
    content: "\e934";
}

.icons-manage_accounts:before {
    content: "\e935";
}

.icons-menu:before {
    content: "\e936";
}

.icons-microsoft:before {
    content: "\e937";
}

.icons-more_vert:before {
    content: "\e938";
}

.icons-nintendo-switch:before {
    content: "\e939";
}

.icons-payment:before {
    content: "\e93a";
}

.icons-person:before {
    content: "\e93b";
}

.icons-person_add:before {
    content: "\e93c";
}

.icons-play_arrow:before {
    content: "\e93d";
}

.icons-playstation:before {
    content: "\e93e";
}

.icons-question_answer:before {
    content: "\e93f";
}

.icons-refresh:before {
    content: "\e940";
}

.icons-remove_shopping_cart:before {
    content: "\e941";
}

.icons-restart_alt:before {
    content: "\e942";
}

.icons-schedule:before {
    content: "\e943";
}

.icons-search:before {
    content: "\e944";
}

.icons-settings:before {
    content: "\e945";
}

.icons-share:before {
    content: "\e946";
}

.icons-shopping_bag:before {
    content: "\e947";
}

.icons-signal:before {
    content: "\e948";
}

.icons-smartphone:before {
    content: "\e949";
}

.icons-star:before {
    content: "\e94b";
}

.icons-star_border:before {
    content: "\e94c";
}

.icons-star_rate:before {
    content: "\e94d";
}

.icons-sync:before {
    content: "\e94f";
}

.icons-tablet_android:before {
    content: "\e950";
}

.icons-tablet_mac:before {
    content: "\e951";
}

.icons-task_alt:before {
    content: "\e952";
}

.icons-telegram:before {
    content: "\e953";
}

.icons-thumb_down:before {
    content: "\e954";
}

.icons-thumb_up:before {
    content: "\e955";
}

.icons-twitter:before {
    content: "\e957";
}

.icons-verified_user:before {
    content: "\e958";
}

.icons-visibility:before {
    content: "\e959";
}

.icons-visibility_off:before {
    content: "\e95a";
}

.icons-warning_amber:before {
    content: "\e95b";
}

.icons-whatsapp:before {
    content: "\e95c";
}

.icons-wordpress:before {
    content: "\e95d";
}

.icons-youtube:before {
    content: "\e95f";
}