@mixin row($base: 1) {
    display: flex;
    flex-wrap: wrap;
    & > .col {
        width: 100%;
    }
    & > * {
        flex: 0 0 auto;
        max-width: 100%;
        padding-right: $base * $grids-padding;
        padding-left: $base * $grids-padding;
    }
}

.row {
    @include row();
}

@each $col in $grids-col {
    .c-#{$col} {
        & > .col {
            width: 100% / $col;
        }
    }
}

@each $breakpoint,$breakpoint-width in $containers-breakpoint {
    @media (min-width: $breakpoint-width) {
        @each $col in $grids-col {
            .c-#{$breakpoint}-#{$col} {
                & > .col {
                    width: 100% / $col;
                }
            }
        }
    }
}


@each $w in $grids-width {
    .w-#{$w} {
        width: 1% * $w !important;
    }
}

@each $breakpoint,$breakpoint-width in $containers-breakpoint {
    @media (max-width: $breakpoint-width - .02) {
        @each $w in $grids-width {
            .w-#{$breakpoint}-#{$w} {
                width: 1% * $w !important;
            }
        }
    }
}